
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        .body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav label {
                color: #818181;
                font-size: 20px;
                font-family: 'Times New Roman', Times, serif;
            }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #mainview {
            transition: margin-left .5s;
            padding: 16px;
            background-color: #e0e0e0;
            /*background-image:url('http://www.modernhdwallpaper.com/wp-content/uploads/2016/March/11/City/Fog/1920x1200/Foggy-cityscape,-city-wallpaper-1920x1200.jpg');*/
        }

        @@media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

                .sidenav a {
                    font-size: 10px;
                }
        }

        .brand {
            display: inline;
            color: white;
            font-family: 'Times New Roman', Times, serif;
        }

        .navbar-header {
            display: inline;
            width: 100%;
        }

        #h {
            float: right;
        }

        .badge-notify {
            background: red !important;
            position: relative;
            top: -10px;
            left: -3px;
        }
    </style>
</head>
<body style="padding:0px;" id="mainview">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1 class="brand">shopFactory</h1>
                <ul class="nav navbar-nav navbar-right" id="h">
                    @*<li><a href="#"><span class="glyphicon glyphicon-bell">@(Session["notif-count"])</span> Notification</a></li>*@
                    <li class="dropdown">
                        <a id="navcol" class="dropdown-toggle notif-class " data-toggle="dropdown"><span class="glyphicon glyphicon-bell "><span class="badge badge-notify">@Convert.ToInt32(Session["notif-count"])</span></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var item in ViewBag.ordering)
                            {
                                @Html.Label("Order Id:")
                                <li>@item.OrderId</li>
                                @Html.Label("Delivery Address:")
                                <li>@item.OrderDeliveryAddress</li>
                                @Html.Label("Deliver Before:")
                                <li>@String.Format("{0:dd-MMM-yyyy}", item.OrderDeliveryDate)</li>

                                <li class="divider"></li>
                            }
                            @Html.ActionLink("View Details", "View_Service", new { @class = "notif-class" })
                        </ul>
                    </li>
                    <li><a href="#" onclick="openNav()"><span class="glyphicon glyphicon-user"></span> @Session["user"].ToString()</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Service/Service_Home">Home</a></li>
                <li><a href="/Service/Add_Service">Add Service</a></li>
                <li><a href="/Service/Manage_Service">Manage Service</a></li>
                <li><a href="/Service/View_Service">View Service</a></li>
            </ul>
        </div>
    </nav>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br /><br />
        <img src="https://londonentrepreneursnetwork.com/public/assets/frontend/profile_image/user-icon-png-pnglogocom.png" style="height:150px;width:150px;" /><br /><br /><br />
        <div class="divider container">
            <label>NAME : @Session["name"].ToString()</label><br />
            <label>UserName : @Session["user"].ToString()</label>
        </div>


        <a href="/Service/profile" class="glyphicon glyphicon-pencil">Edit Profile</a>

        @*@Html.ActionLink("Edit Profile", "profile")*@
        <a href="/Service/ChangePassword" class="glyphicon glyphicon-lock">Change Password</a>
        @*@Html.ActionLink(" Change Password", "ChangePassword")*@
        <a href="/Service/logout" class="glyphicon glyphicon-log-out">Logout</a>


        @*@Html.ActionLink("LOGOUT", "logout")*@

    </div>
    <div>
        @RenderBody()
    </div>
    <script>

        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("mainview").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("mainview").style.marginLeft = "0";
    document.body.style.backgroundColor = "#e0e0e0";
}
$(".notif-class").click(function (e) {

    e.preventDefault();
    $.ajax({

        url: "/Service/DisableNotification", // comma here instead of semicolon
        success: function () {

        }

    });

});
    </script>
</body>
</html>