@model IEnumerable<Online_SHopping_Cart.ViewModel.Buyer_Product>

@{
    ViewBag.Title = "cart";
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
}


<link href="~/Content/materialize.css" rel="stylesheet" />
<style>
    #cr{
    height:400px;
    width:300px;
    margin:25px;
    float:left;
}
   .wrapper {
    margin-top:100px;
    margin-left: 550px;
    width: 400px;
    height: 500px;
    text-align: center;
 }
   .purchase{
       margin-left:20px;
       margin-top:5px;
       width:300px;
       height:100px;
       background-color:#e8eaf6; 
       text-align:center;
       box-shadow: 5px 5px 5px #888888;
   }
</style>

<div>
  @{var count = @Convert.ToInt32(Session["count"]); }
    @if (count != 0)
    {
        <div class="purchase"> 
            <h5>Total Amount : @ViewBag.tcart_amt</h5><br />
            <form action="purchase_all">
                <button type="submit" class="btn waves-effect waves-light">PURCHASE</button>
            </form>
        </div>
    }
    @if (count == 0)
    {
        <div class="wrapper">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Images/empty_cart.png">               
                    </div>      
                    <div class="card-content">
                        <h3>Cart Is Empty</h3>
                    </div>
                  </div>
            </div>
        </div>
    }
</div>
<br /><br /><br />
@foreach (var item in Model)
{
    var base64 = Convert.ToBase64String(item.BinaryImage);
    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
    <div class="card" id="cr">

        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" style="height:300px;" src="@imgSrc" /><br />
        </div>

        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">@Html.DisplayFor(modelItem => item.ProductName)<i class="material-icons right">more_vert</i></span>
        </div>
       
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">@Html.DisplayFor(modelItem => item.ProductName)<i class="material-icons right">close</i></span>
            @Html.DisplayFor(modelItem => item.ProductName)<br />

            @Html.DisplayFor(modelItem => item.ProductPrice)<br />

            @Html.DisplayFor(modelItem => item.ProductDesc)<br />

            @foreach (var item1 in ViewBag.not_avail)
            {
                if (item.ProductId == item1)
                {
                    <h4 style="color:red">Out Of Stock</h4>
                    <a class="btn-floating btn-large waves-effect waves-light red" id=@(item.ProductId) onclick="remind(this)"><i class="material-icons">bookmark_border</i></a>
                }
                else
                {
                    <br /><br />
                }
            }
            @Html.ActionLink("View", "order", new { id = item.ProductId }, new { @class = "btn waves-effect waves-light" })
            <button id=@(item.ProductId) class="btn waves-effect waves-light red" onclick="del_cart(this)">Remove</button>
            <br /><br />
        </div>

    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery-1.10.2.js"></script>
<script>

          function del_cart(element){
              var btn=element.id;
                $.ajax({
                    type: "POST",
                    url: "remove_cart",
                    data: '{id: "' + btn + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        alert("Removed from Cart");
                        window.location.href = data.Url;
                    },
                    failure: function (response) {
                        alert("Not found");
                    },
                    error: function (response) {
                        alert("error");
                    }
                });

          }

          function remind(element) {
              var btn = element.id;
              $.ajax({
                  type: "POST",
                  url: "remind",
                  data: '{id: "' + btn + '" }',
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  success: function (data) {

                      alert("Reminder Set");
                      //window.location.href = data.Url;
                  },
                  failure: function (response) {
                      alert("Not found");
                  },
                  error: function (response) {
                      alert("error");
                  }
              });

          }

</script>