@model Online_SHopping_Cart.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
}
<style>
    .wrapper {
        margin-top:100px;
        margin-left: 550px;
        width: 300px;
        height: 500px;
        text-align: center;
    }
</style>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/Content/materialize.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/materialize.js"></script>


@if (ViewBag.message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.message");
    };</script>
}

<div class="wrapper">
    @using (Html.BeginForm("ChangePassword", "Buyer", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />

        <div class="input-field col s8">
            <i class="material-icons prefix">lock_outline</i>
            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "validate" } })
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            <label>Old Password</label>
        </div>

        <div class="input-field col s8">
            <i class="material-icons prefix">lock_outline</i>
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "validate" } })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            <label>new Password</label>
        </div>

        <div class="input-field col s8">
            <i class="material-icons prefix">lock_outline</i>
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "validate" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            <label>Confirm Password</label>
        </div>


        <div>
            <button class="btn waves-effect waves-light" type="submit">
                SAVE
                <i class="material-icons right">save</i>
            </button>
        </div>
    }
</div>