
@model Online_SHopping_Cart.Models.User_Table

@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
}
<style>
        .wrapper {
        margin-left: 550px;
        width: 400px;
        height: 500px;
        text-align: center;
    }
</style>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/Content/materialize.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/materialize.js"></script>



<div class="wrapper">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        if (ViewBag.fill_msg != null)
        {
            <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.fill_msg");
    };</script>
        }
        <div id="msg"></div>
        <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h3><img src="~/Images/profile.png" alt="Avatar" style="width:100px;height:100px" />@Session["user"].ToString()</h3>
            <div class="input-field col s8">
                <i class="material-icons prefix">person_outline</i>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "validate" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                <label>First Name</label>
            </div>



            <div class="input-field col s12">
                <i class="material-icons prefix">person_outline</i>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "validate" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                <label>Last Name</label>
            </div>


            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                @Html.EditorFor(model => model.UserPhno, new { htmlAttributes = new { @class = "validate",id="phon" } })
                @Html.ValidationMessageFor(model => model.UserPhno, "", new { @class = "text-danger" })
                <label>Phone Number</label>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "validate" } })
                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                <label>User Email</label>
            </div>



            <div class="input-field col s12">
                <i class="material-icons prefix">location_on</i>
                @Html.EditorFor(model => model.UserAddress, new { htmlAttributes = new { @class = "validate" } })
                @Html.ValidationMessageFor(model => model.UserAddress, "", new { @class = "text-danger" })
                <label>User Address</label>
            </div>


            <div>
                <button class="btn waves-effect waves-light" type="submit">
                    SAVE
                    <i class="material-icons right">save</i>
                </button>
            </div>


    }

</div>

<script>
    $(document).ready(function () {

        $("#msg").hide();

        $("#phon").change(function () {
            var num = $("#phon").val();
            if (/^\d+$/.test($("#phon").val())) {
                var n = num.length;
                if(n==10)
                {

                }
                else {
                    $("#msg").show();
                    $("#msg").append("<p>Phone Number Length Should be 10 numbers</p>");
                }
            }
            else {
                $("#msg").show();
                $("#msg").append("<p>Please Enter Valid Number</p>");
            }

        });
    });
</script>